<style type="text/css">
	.page-footer{
		background-color: #007200; /*008000; /* 40916c;/*#8AAE14; */
		position: relative;
        margin-top:6.5rem;
        padding-top:5px;
        bottom:0;
        height:120px;
	}

</style>

<!-- Footer -->
<footer class="page-footer">
    <div class="container" style="padding-top:2px; padding-bottom: 5px;">
        <div class="row" style="margin-bottom: 5px;">
            <div class="col l6 s12">
                <h5 class="white-text">BSK Voting</h5>
                <!--<p class="grey-text text-lighten-4">Documents the safe way.</p>-->
            </div>
            <div class="col l4 offset-l2 s12 right">
                <h5 class="white-text"><a class="grey-text text-lighten-3" href="{% url 'faqs' %}">FAQS</a></h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright"  style="padding-top:1px;">
        <div class="container">
            © {% now "Y" %} All rights reserved &nbsp;
            <a class="grey-text text-lighten-4" href="https://www.nema.go.ug/" target="_blank">Voting</a>
        </div>
    </div>
</footer>
<!-- End Footer -->



